<div class="container-fluid">
  <form [formGroup]="monumentForm" class="container mt-5">

    <!-- COMMON PART -->
    <div class="row">
      <div class="col-12">
        <div>
          <label>{{ 'MONUMENT_ADD_DETAIL.MONUMENT_ID' | translate }}
          </label>
            <input type="text" class="form-control" formControlName="id" readonly>
        </div>
        <div>
          <label>{{ 'MONUMENT_ADD_DETAIL.LATITUDE' | translate }}
            <input type="text" class="form-control" formControlName="latitude">
          </label>
        </div>
        <div>
          <label>{{ 'MONUMENT_ADD_DETAIL.LONGITUDE' | translate }}
            <input type="text" class="form-control" formControlName="longitude">
          </label>
        </div>


        <div *ngIf="monumentForm.get('picture').value || img">
          <img [src]="img" src="{{backEndUrl}}/images/{{monumentForm.get('id').value}}">
        </div>
        <div class="form-group">
          <label for="exampleFormControlFile1">Upload Image Here</label>
          <input type="file" (change)="onFileSelected($event)" class="form-control-file" id="exampleFormControlFile1"
                 file-model="myFile" accept="image/*">
        </div>




        <div class="form-group">
          <label>{{ 'MONUMENT_ADD_DETAIL.AREA' | translate }}</label>
          <select class="form-control" formControlName="area" required>
            <option *ngFor="let area of areas; let i=index" [attr.selected]="i == 0 ? 'selected': '' ">
              {{area}}
            </option>
          </select>
          <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-plus-square"></i> {{ 'MONUMENT_ADD_DETAIL.ADD_AREA' | translate }}
          </button>
        </div>
        <div class="form-group">
          <label for="exampleFormControlFile1">{{ 'MONUMENT_ADD_DETAIL.UPLOAD_IMG' | translate }}</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
      </div>

      <!-- LANGUAGE INFORMATION PART -->
      <div class="col-12 mt-5">
        <!-- Om error te omzeilen hier. Doet exact hetzelfde maar krijg geen data terug -->
          <div formArrayName="information"*ngFor="let information of getFormData().controls; let i=index" class="card mb-3">
              <legend><h3>{{ 'MONUMENT_ADD_DETAIL.INFORMATION_LEGEND' | translate }} {{i+1}}: </h3></legend>
              <div [formGroupName]="i">
                <div class="form-group">
                  <label>{{ 'MONUMENT_ADD_DETAIL.LANGUAGE' | translate }}</label>
                  <input type="text" class="form-control" placeholder="{{ 'MONUMENT_ADD_DETAIL.LANGUAGE_PLACEHOLDER' | translate }}" formControlName="language">
                </div>
                <div class="form-group">
                  <label>{{ 'MONUMENT_ADD_DETAIL.NAME' | translate }}</label>
                  <input type="text" class="form-control" placeholder="{{ 'MONUMENT_ADD_DETAIL.NAME_PLACEHOLDER' | translate }}" formControlName="name">
                </div>
                <div class="form-group">
                  <label>{{ 'MONUMENT_ADD_DETAIL.DESCRIPTION' | translate }}</label>
                  <input type="text" class="form-control" placeholder="{{ 'MONUMENT_ADD_DETAIL.DESC_PLACEHOLDER' | translate }}" formControlName="description">
                </div>

                <!-- QUESTIONS PART -->
                <div *ngIf="information.get('question')?.value" class="col-12 mt-5">
                  <div formArrayName="question" >
                    <div *ngFor="let question of information.get('question').value; let j=index; trackBy:trackByFn" class="card mb-3">
                      <legend><h4>{{ 'MONUMENT_ADD_DETAIL.QUESTION_LEGEND' | translate }} {{j+1}}</h4></legend>
                  <label>Description</label>
                  <textarea type="text" class="form-control" placeholder="Add Description" formControlName="description"></textarea>
                </div>

                <!-- CONVERSATIONS PART -->
                <div *ngIf="information.get('conversations').value" class="col-12 mt-5">
                  <div formArrayName="conversations" >
                    <div *ngFor="let conversations of information.get('conversations').value; let j=index; trackBy:trackByFn" class="card mb-3">
                      <legend><h4>CONVERSATION {{j+1}}</h4></legend>
                      <div [formGroupName]="j">
                        <div class="form-group">
                          <label>{{ 'MONUMENT_ADD_DETAIL.QUESTION' | translate }}</label>
                          <input type="text" class="form-control" placeholder="{{ 'MONUMENT_ADD_DETAIL.QUESTION_PLACEHOLDER' | translate }}" formControlName="question">
                        </div>
                        <div class="form-group">
                          <label>{{ 'MONUMENT_ADD_DETAIL.ANSWER' | translate }}</label>
                          <input type="text" class="form-control" placeholder="{{ 'MONUMENT_ADD_DETAIL.ANSWER_PLACEHOLDER' | translate }}" formControlName="answer">
                        </div>
                        <button (click)="deleteQuestion(information.controls.question, j)"
                                class="btn btn-danger">{{ 'MONUMENT_ADD_DETAIL.DELETE_QUESTION' | translate }}</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row mb-3">
                  <button class="btn btn-outline-info float-right ml-1"
                          type="button" role="button"
                          (click)="addnewQuestion(information.controls.question)">{{ 'MONUMENT_ADD_DETAIL.ADD_QUESTION' | translate }}</button>
                </div>
              </div>
            <button (click)="deleteLanguage(i)" class="btn btn-danger">{{ 'MONUMENT_ADD_DETAIL.DELETE_LANGUAGE' | translate }}</button>
        </div>
      </div>
    </div>
    <div class="form-row mb-3">
      <button class="btn btn-outline-info float-right ml-1" type="button" role="button" (click)="addNewLanguage()">{{ 'MONUMENT_ADD_DETAIL.ADD_LANGUAGE' | translate }}</button>
    </div>
    <button type="submit" class="btn btn-success" (click)="submitForm()">{{ 'MONUMENT_ADD_DETAIL.SAVE_MONUMENT' | translate }}</button>
    </div>
    </div>
  </form>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ 'MONUMENT_ADD_DETAIL.MODAL_TITLE' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>{{ 'MONUMENT_ADD_DETAIL.MODAL_AREA' | translate }} </label>
          <input type="text" id="areaInput" class="form-control" placeholder="{{ 'MONUMENT_ADD_DETAIL.MODAL_AREA_PLACE' | translate }}">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeBtn" class="btn btn-danger" data-dismiss="modal">{{ 'MONUMENT_ADD_DETAIL.MODAL_CLOSE' | translate }}</button>
        <button type="button" class="btn btn-success" (click)="addArea()">{{ 'MONUMENT_ADD_DETAIL.MODAL_SAVE' | translate }}</button>
      </div>
    </div>
  </div>
</div>


