<div class="container-fluid">
  <div class="container">
    <div class="row">
      <form (ngSubmit)="submitForm()" #monumentForm="ngForm">
        <div class="col-12">
          <app-commonform [commonData]="monumentData">

          </app-commonform>
        </div>
        <div class="col-12">
          <app-languageform [infoArray]="monumentInformation">

          </app-languageform>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!monumentForm.valid">Save</button>
      </form>

    </div>
  </div>
</div>

