<div *ngFor="let info of commonInfo">
  <div class="form-group">
    <label>Latitude</label>
    <input type="text" placeholder="Enter Latitude" class="form-item" [(ngModel)]="info.latitude">
  </div>
  <div class="form-group">
    <label>Longitude</label>
    <input type="text" placeholder="Enter Longitude" class="form-item" [(ngModel)]="info.longitude">
  </div>
  <div class="form-group">
    <label><i class="fas fa-map-marked-alt"></i> Area</label>
    <select class="form-control">
      <option *ngFor="let area of areas">{{area}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">Upload Image Here</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
</div>


