<div class="container">
  <div class="container">
    <h2 class="text-center mt-5 mb-5" ><i class="fas fa-user"></i> {{ 'USERPANEL.TITLE' | translate }}</h2>
    <input type="text" class="form-control mt-2 mb-2 mainLoginInput"  placeholder="&#61442;  {{ 'USERPANEL.SEARCH' | translate }}" [(ngModel)]='searchText' />
    <table class="table text-center">
      <thead class="thead-dark">
      <tr>
        <th scope="col">{{ 'USERPANEL.ID' | translate }}</th>
        <th scope="col" >{{ 'USERPANEL.FIRSTNAME' | translate }}</th>
        <th scope="col" >{{ 'USERPANEL.LASTNAME' | translate }}</th>
        <th scope="col">{{ 'USERPANEL.HANDLE' | translate }}</th>
        <th scope="col" >{{ 'USERPANEL.ACTION' | translate }}</th>
      </tr>
      </thead>
      <tbody *ngFor="let user of users | filter : searchText">
      <tr  *ngIf="user.name">
        <td><i class="fas fa-user"></i> - {{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.handle}}</td>
        <td><button class="btn btn-danger" data-toggle="modal" attr.data-target="#{{user.id}}" ><i class="fas fa-trash-alt"></i> {{ 'USERPANEL.FORGET_BTN' | translate }}</button></td>
        <!-- Modal -->
        <div class="modal fade" id="{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" ><i class="fas fa-question-circle"></i> {{ 'USERPANEL.MODAL_TITLE' | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" >
                {{ 'USERPANEL.MODAL_BODY' | translate }} <br><i class="fas fa-user-circle"></i> {{user.name}} {{user.lastName}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)='forgetUser($event, user)' >{{ 'USERPANEL.MODAL_YES' | translate }}</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" >{{ 'USERPANEL.MODAL_NO' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </tr>
      </tbody>
    </table>

  </div>
</div>
