<div class="container">
  <div class="container">
    <h2 class="text-center mt-5 mb-5" i18n><i class="fas fa-user"></i> {{title}}</h2>
    <input type="text" class="form-control mt-2 mb-2 mainLoginInput" i18n-placeholder placeholder="&#61442;  Search for name" [(ngModel)]='searchText' />
    <table class="table text-center">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col" i18n>First name</th>
        <th scope="col" i18n>Last name</th>
        <th scope="col">Handle</th>
        <th scope="col" i18n>Action</th>
      </tr>
      </thead>
      <tbody *ngFor="let user of users | filter : searchText">
      <tr  *ngIf="user.name">
        <td><i class="fas fa-user"></i> - {{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.handle}}</td>
        <td><button class="btn btn-danger" data-toggle="modal" attr.data-target="#{{user.id}}" i18n><i class="fas fa-trash-alt"></i> Forget user</button></td>
        <!-- Modal -->
        <div class="modal fade" id="{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" i18n><i class="fas fa-question-circle"></i> Confirm Action</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" i18n>
                Are you sure you want to anonymize this user? <br><i class="fas fa-user-circle"></i> {{user.name}} {{user.lastName}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)='forgetUser($event, user)' i18n>Yes, I'm sure!</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" i18n>No, cancel action</button>
              </div>
            </div>
          </div>
        </div>
      </tr>
      </tbody>
    </table>

  </div>
</div>
