<div class="container">
  <div class="container">
    <form [formGroup]="editForm" (ngSubmit)="submitForm()">
    <div class="row mt-5">
      <div class="col-12">
        <h3 class="mb-4">Common Information</h3>
        <div class="form-group">
          <label><i class="fas fa-map-marker-alt"></i> Latitude</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label><i class="fas fa-map-marker-alt"></i> Longitude</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label><i class="fas fa-map-marked-alt"></i> Area</label>
          <select class="form-control">
            <option *ngFor="let area of areas">{{area}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlFile1"><i class="far fa-file-image"></i> Upload Image here</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <hr class="my-3">
      </div>
      <div class="col-12">
        <h3 class="mb-4">Language specific information</h3>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" *ngFor="let info of editData.information; index as i">
            <a class="nav-link" [class.active]="i == 0" id="{{info.language}}-tab" data-toggle="tab" href="#{{info.language}}" role="tab" attr.aria-controls="{{info.language}}" [attr.aria-selected]="i == 0 ? true : false"><i class="fas fa-language"></i> {{info.language}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="addLanguage-tab" data-toggle="tab" href="#addLanguage" role="tab" aria-controls="addLanguage" aria-selected="false"><i class="fas fa-plus-square"></i> Add Language</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade mt-3" *ngFor="let info of editData.information; index as y" [class.show]="y == 0" [class.active]="y==0" id="{{info.language}}" role="tabpanel" attr.aria-labelledby="{{info.language}}-tab">
            <div class="form-group">
              <label><i class="fas fa-monument"></i> Statue Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label><i class="fas fa-align-justify"></i> Description</label>
              <textarea class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label><i class="fas fa-question-circle"></i> Questions</label>
            </div>
          </div>
          <div class="tab-pane fade mt-3" id="addLanguage" role="tabpanel" aria-labelledby="addLanguage-tab">
            <div class="form-group">
              <label><i class="fas fa-globe-americas"></i> Language name </label>
              <input type="text" class="form-control">
              <button class="btn btn-primary btn-sm mt-3"><i class="fas fa-plus-square"></i> Add Language</button>
            </div>
          </div>
        </div>
      </div>
    </div>
      <button type="submit" class="btn btn-success mb-5"><i class="fas fa-save"></i> Save</button>
    </form>
  </div>
</div>


