<form [formGroup]="informationForm">
    <div formArrayName="information" *ngFor="let lang of informationForm.get('information').value; let i=index">
      <div [formGroupName]="i" class="card-body">
        <div class="form-group">
          <label>Information Language</label>
          <input type="text" class="form-control" placeholder="Add Language" formControlName="language">
        </div>
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="Add Name" formControlName="name">
        </div>
        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" placeholder="Add Description" formControlName="description">
        </div>
      </div>
      <button *ngIf="(informationForm.controls.information.controls.length > 1)"
              (click)="deleteInformation(i)" class="btn btn-danger">Delete Information</button>
    </div>

  <div class="form-row mb-3">
    <button class="btn btn-outline-info float-right ml-1" type="button" role="button" (click)="addInformation()">Add Information</button>
  </div>
  <br>

  <pre>
  informationForm Values:
  {{ informationForm.get('information').value | json }}
  </pre>







</form>

<!--<pre>{{informationForm.value | json}}</pre>-->

<!--<ul class="nav nav-tabs" id="myTab" role="tablist">-->
  <!--<li class="nav-item" *ngFor="let info of monumentInformation; let i = index">-->
    <!--<a class="nav-link" [ngClass]="i == 0 ? 'active' : ''" id="{{info?.language}}-tab" data-toggle="tab" href="#{{info?.language}}" role="tab" [attr.aria-controls]="info?.language" [attr.aria-selected]="i == 0 ? true : false">{{info?.language}}</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link" id="addLanguage-tab" data-toggle="modal" data-target="#languageModal" href="#addLanguage" ><i class="fas fa-plus-square"></i> Add Language</a>-->
  <!--</li>-->
<!--</ul>-->
<!--<div class="tab-content" id="myTabContent">-->
  <!--<div *ngFor="let inf of monumentInformation; let i = index" class="tab-pane fade mt-3" [ngClass]="i == 0 ? 'active show' : ''" id="{{inf?.language}}" role="tabpanel" [attr.aria-labelledby]="inf?.language">-->
    <!--<div class="form-group">-->
      <!--<label>Name: </label>-->
      <!--<input type="text" id="name" class="form-control" placeholder="Enter Name" value="{{inf?.name}}">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label>Description: </label>-->
      <!--<textarea class="form-control" id="description" placeholder="Enter Description">{{inf?.description}}</textarea>-->
    <!--</div>-->
    <!--<app-questionform ></app-questionform>-->
  <!--</div>-->
<!--</div>-->

  <!--&lt;!&ndash; Modal &ndash;&gt;-->
  <!--<div class="modal fade" id="languageModal" tabindex="-1" role="dialog" aria-labelledby="languageModal" aria-hidden="true">-->
    <!--<div class="modal-dialog" role="document">-->
      <!--<div class="modal-content">-->
        <!--<div class="modal-header">-->
          <!--<h5 class="modal-title" id="exampleModalLabel">Add a New Language</h5>-->
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
            <!--<span aria-hidden="true">&times;</span>-->
          <!--</button>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
          <!--<div class="form-group">-->
            <!--<label>Language: </label>-->
            <!--<input type="text" id="langInput" class="form-control" placeholder="Example. NL, FR, EN">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
          <!--<button type="button" id="langCloseBtn" class="btn btn-danger" data-dismiss="modal">Close</button>-->
          <!--<button type="button" class="btn btn-success" (click)="addNewLanguage()">Save changes</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->




