<div *ngIf="monument" class="container mt-3">
  <form [formGroup]="monumentForm">
    <div class="row">
      <div class="col-12">
        <div class="card p-3">
          <div class="form-row">
            <div class="form-group col-12">
              <label for="areaInput">Area</label>
              <input type="text" class="form-control" id="areaInput" formControlName="area">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputLongitude">Longitude</label>
              <input type="text" class="form-control" id="inputLongitude" formControlName="longitude">
            </div>
            <div class="form-group col-md-6">
              <label for="inputLatitude">Latitude</label>
              <input type="text" class="form-control" id="inputLatitude" formControlName="latitude">
            </div>
          </div>
          <div class="row">
          <div class="col-6 mb-2">
            <button (click)="addEmptyInformation()" class="btn btn-success btn-block mb-2">+</button>
            <ul formArrayName="information"  class="list-group">
              <li *ngFor="let information of monumentForm.controls['information']['controls']; let i=index" class="list-group-item list-group-item-action" [class.active]="i==activeInfoObjectIndex" (click)="activeInfoObjectIndex=i">
                <a>
                  <div class="d-flex justify-content-between">
                    <div>
                      <span class="badge badge-info badge-pill">{{information.controls.language.value}}</span>
                    </div>
                    <div>
                      <h6 class="mx-2 d-inline">{{information.controls.name.value}}</h6>
                      <h6 class="mx-2 p-0 m-0 text-muted text-truncate"><small>{{information.controls.description.value}}</small></h6>
                    </div>
                    <div>
                      <button  (click)="openModal(editInformation)" class="btn btn-info">Edit</button>
                      <ng-template #editInformation>
                        <div class="modal-header">
                          <h6 class="modal-title pull-left">Monument information</h6>
                          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body" [formGroupName]="i">
                          <div class="form-row">
                            <div class="form-group col-12">
                              <label for="inputLanguage">Language</label>
                              <input type="text" class="form-control" id="inputLanguage" formControlName="language">
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-12">
                              <label for="inputName">Name</label>
                              <input type="text" class="form-control" id="inputName" formControlName="name">
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-12">
                              <label for="inputDescription">Description</label>
                              <input type="text" class="form-control" id="inputDescription" formControlName="description">
                            </div>
                          </div>
                        </div>
                      </ng-template> 
                      <button (click)="openModal(sure)" class="btn btn-danger">Delete</button>
                      <ng-template #sure>
                          <app-sure-dialog 
                          [question]="'Are you sure?'"
                          [confirm]="'delete'"
                          [modalRef]=modalRef
                          (sure)="removeInformationObject(i)">
                          </app-sure-dialog>
                      </ng-template>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-6 mb-2">
            <button (click)="addEmptyQuestion()" class="btn btn-success btn-block mb-2">+</button>
            <ul class="list-group" formArrayName="information" formArrayName="{{this.activeInfoObjectIndex}}" >
              <li class="list-group-item" *ngFor="let question of monumentForm.controls['information']['controls'][this.activeInfoObjectIndex]['controls']['question']['controls']; let i=index">
                <a>
                  <div class="d-flex justify-content-between">
                    <div>
                      <h6 class="mx-2 d-inline">{{question.controls.question.value}}</h6>
                      <h6 class="mx-2 p-0 m-0 text-muted text-truncate"><small>{{question.controls.answer.value}}</small></h6>
                    </div>
                    <div>
                      <button  (click)="openModal(editQuestion)" class="btn btn-primary">Edit</button>
                      <ng-template #editQuestion>
                        <div class="modal-header">
                          <h6 class="modal-title pull-left">Question</h6>
                          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body" [formGroupName]="i" >
                          <div class="form-row">
                            <div class="form-group col-12">
                              <label for="inputQuestion">Question</label>
                              <input type="text" class="form-control" id="inputQuestion" formControlName="question">
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-12">
                              <label for="inputAnswer">Answer</label>
                              <input type="text" class="form-control" id="inputAnswer" formControlName="answer">
                            </div>
                          </div>
                        </div>
                      </ng-template>
                      <button (click)="openModal(sure)" class="btn btn-danger">Delete</button>
                      <ng-template #sure>
                          <app-sure-dialog 
                          [question]="'Are you sure?'"
                          [confirm]="'delete'"
                          [modalRef]=modalRef
                          (sure)="removeQuestionObject(i)">
                          </app-sure-dialog>
                        </ng-template> 
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </form>

</div>
