<div class="modal-header">
  <h6 class="modal-title pull-left">Monument information</h6>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="informationForm">
    <div class="form-row">
        <div class="form-group col-12">
          <label for="inputLanguage">Language</label>
          <select class="form-control" id="inputLanguage" formControlName="language">
            <option selected>Choose...</option>
            <option *ngFor="let lang of posibleLanguages">{{lang}}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <label for="inputName">Name</label>
          <input type="text" class="form-control" id="inputName" formControlName="name">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <label for="inputDescription">Description</label>
          <input type="text" class="form-control" id="inputDescription" formControlName="description">
        </div>
      </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-success" (click)="saveInformation()">save</button>
</div>